@model Newwebapplication.Models.EmpDep

@{
    ViewBag.Title = "GetDataViewModel";
}

<h2>GetDataViewModel</h2>
@*@Html.DisplayNameFor(S => S.EmpId)

    @Model.Emp.EmpId <span>--</span>@Model.Dept.DeptId
    <br />
    @Html.DisplayNameFor(S => S.Empname)

    @Model.Emp.Empname
    <br />
    @Html.DisplayNameFor(S => S.Empsalary)

    @Model.Emp.Empsalary*@

@Model.Emp.EmpId
<br />
@Model.Emp.Empname
<br />
@Model.Emp.Empsalary
<br /><br />
@Model.Dept.DeptId
<br />
@Model.Dept.DeptName